<link rel="stylesheet" href="login.component.css" />
<body>
  <div class="form">
    <form action="">
      <h1>Login Form</h1>

      UserName :
      <input type="text" name="" id="" placeholder="Entert the username" />
      <br />
      <br />
      Passwrod :
      <input type="text" name="" id="" placeholder="Enter the Password" />
      <br />
      <br />

      <button>
        <a href="/home">Login</a>
      </button>
      <button><a href="/registration">Register</a></button>
    </form>
  </div>
</body>
